//url font
@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto:wght@300&display=swap');
//fonts
$font1: 'Pattaya'; 
$font2: 'Henny Penny';  
$font3: 'Roboto', 'sans-serif';

//colors
$black: #0d0d0d;
$white: #f2f2f2;
$yellow: #f2cc0f;
$green: #8cbf3f;
$purple: #9453a6;



//imports
@import "mediaQuery";
@import "header";
@import "footer";
@import "index";
@import "about";
@import "media";
@import "faq";
@import "contact";
@import "trivia";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    overflow-x: hidden;
}